<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css}"/>

    <!-- Bootstrap JS -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js}"></script>

    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Teacher Homes</h1>
<table>
    <thead>
    <tr>
        <th>Teacher Home Name</th>
        <th>Teacher Home Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacherHome : ${teacherHomes}">
        <td th:text="${teacherHome.name}"></td>
        <td th:text="${teacherHome.address}"></td>
        <td><a th:href="@{/reservations/rooms-by-teacherhome/{teacherHomeId}(teacherHomeId=${teacherHome.id})}">View Rooms</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
