<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payment Form</title>
</head>
<body>
<div th:fragment="payment-form">
  <h1>Payment Form</h1>
  <!-- Payment form code here -->
  <form th:action="@{/confirm-payment}" method="post">

    <div>
      <label for="cardHolderName">Cardholder Name:</label>
      <input type="text" id="cardHolderName" name="cardHolderName" required>
    </div>
    <label for="reservationRefCode">Referance Code:</label>
      <input type="text" id="reservationRefCode" name="reservationRefCode" th:value="${reservationRefCode}" />

    <div>
      <label for="cardNumber">Card Number:</label>
      <input type="text" id="cardNumber" name="cardNumber" required>
    </div>

    <div>
      <label for="expiryMonth">Expiry Month:</label>
      <input type="text" id="expiryMonth" name="expiryMonth" placeholder="MM" required>
    </div>

    <div>
      <label for="expiryYear">Expiry Year:</label>
      <input type="text" id="expiryYear" name="expiryYear" placeholder="YYYY" required>
    </div>

    <div>
      <label for="cvv">CVV:</label>
      <input type="text" id="cvv" name="cvv" placeholder="123" required>
    </div>
    <input type="hidden" name="amount" th:value="${totalCost}" />
    <button type="submit">Pay Now</button>
  </form>
</div>

</body>
</html>
