<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Payment Successful</title>
</head>
<body>
<h1>Thank You for Your Payment</h1>
<p>Your payment has been processed successfully.</p>
<p>Reservation Details:</p>
<ul>
    <li>Reservation Reference Code: [[${reservationRefCode}]]</li>
    <li>Check-In Date: [[${checkInDate}]]</li>
    <li>Check-Out Date: [[${checkOutDate}]]</li>
    <li>Number of Guests: [[${numberOfGuests}]]</li>
    <li>Amount Paid: [[${amountPaid}]]</li>
</ul>
</body>
</html>
